body{
    background-color: #fce4ec;
}

.head{
    background-color: #f48fb1;
    width: auto ;
    height: 150px;
    background-size: cover;
}
.head .call-buttonhome{
    background-color: #e91e63;     /* สีเขียวแบบ WhatsApp */
    color: white;                  /* ตัวอักษรสีขาว */
    padding: 12px 20px;            /* ขนาดปุ่ม */
    text-decoration: none;         /* ไม่ขีดเส้นใต้ลิงก์ */
    border-radius: 8px;            /* มุมมน */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* เงา */
    transition: background-color 0.3s ease;
    margin-left: 1425px;

}
.menu .call-button1{
    display: inline-block;
    background-color: #e91e63;     /* สีเขียวแบบ WhatsApp */
    color: white;                  /* ตัวอักษรสีขาว */
    padding: 12px 20px;            /* ขนาดปุ่ม */
    text-decoration: none;         /* ไม่ขีดเส้นใต้ลิงก์ */
    border-radius: 8px;            /* มุมมน */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* เงา */
    transition: background-color 0.3s ease;
    margin-left: 0px;
 
}
.menu .call-button2{
    display: inline-block;
    background-color: #e91e63;     /* สีเขียวแบบ WhatsApp */
    color: white;                  /* ตัวอักษรสีขาว */
    padding: 12px 20px;            /* ขนาดปุ่ม */
    text-decoration: none;         /* ไม่ขีดเส้นใต้ลิงก์ */
    border-radius: 8px;            /* มุมมน */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* เงา */
    transition: background-color 0.3s ease;
    margin-left: 0px;
 

}
.menu .call-button3{
    display: inline-block;
    background-color: #e91e63;     /* สีเขียวแบบ WhatsApp */
    color: white;                  /* ตัวอักษรสีขาว */
    padding: 12px 20px;            /* ขนาดปุ่ม */
    text-decoration: none;         /* ไม่ขีดเส้นใต้ลิงก์ */
    border-radius: 8px;            /* มุมมน */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* เงา */
    transition: background-color 0.3s ease;
    margin-left: 0px;
 

}
.menu .call-button4{
    display: inline-block;
    background-color: #e91e63;     /* สีเขียวแบบ WhatsApp */
    color: white;                  /* ตัวอักษรสีขาว */
    padding: 12px 20px;            /* ขนาดปุ่ม */
    text-decoration: none;         /* ไม่ขีดเส้นใต้ลิงก์ */
    border-radius: 8px;            /* มุมมน */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* เงา */
    transition: background-color 0.3s ease;
    margin-left: 0px;
 

}
.head p{
    margin-left: 1455px;
}
.menu{
    background-color: #f06292;
    margin-left: 0px;
    width: 270px;
    height: 600px;
    margin-top: -21px;
    
}
.menu h1{
    color: aliceblue;
    
}
.menu h2{
    color: aliceblue;
}    